html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
}

footer {
  margin-top: auto;
}

.card-img-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  height: 100%;
  width: auto;
}
